<style>
  #share-buttons {
    display: inline-block;
    vertical-align: middle;
  }

  #share-buttons:after {
    content: "";
    display: block;
    clear: both;
  }

  #share-buttons > div {
    position: relative;
    text-align: center;
    height: 36px;
    width: 32px;
    float: left;
  }

  #share-buttons svg {
    width: 16px;
    height: 16px;
    fill: #d5d5d5;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #share-buttons > div:hover {
    cursor: pointer;
  }

  /* mail icon tweak */
  #share-buttons > div.mail > svg {
    width: 14px;
    height: 14px;
    margin-top: 11px;
  }
</style>
